# CI/CD
.github

# Git
.git
.gitignore

# Environment
.env
.env.local
.env.*.local

# Documentation
README.md
docs

# Dependencies
node_modules

# Build
.astro
.vercel
dist

# IDE Config
.vscode
.idea
*.swp
*.swo

# Others
terminals
*.log
*.bak
